.logo-obs {
    width: 100%;
    height: auto;
}
.logo-salud{
    height: 176px;
}
nav {
    background-color: #f29200;
}

nav a{
    border-right: #ffffff solid 2px;
}

.last-item{
    border-right: none;
}

nav a:hover{
    background-color: #009f9a;  
}

nav a, nav a:hover{
    color: #ffffff;
}


.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #009f9a;
}

.nav-pills .nav-link{
    border-radius: 0 !important;
}

div.dropdown-menu a.dropdown-item:hover{
    background-color: #009f9a;
    color: #ffffff;
}

.container-slide{
    height: 50%;
}

div.carousel-inner div.carousel-item img{
    height: 400px;
}

div.carousel-caption{
    background-color: rgba(23, 23, 23, 0.8);
}

.row.content{
    margin-top: 2%;
}

/*styles module news*/

div.news{
    border: #009f9a solid 3px;
}

h2.title-news{
    color: #009f9a;
}

.list-group-item{
    margin-bottom:-1px;
    background-color: none;
    border: solid 1px #009f9a;
}

/* margin top row components*/

.components {
    margin-top: 1%;
}

div.directory {
    border: #e84e1c solid 3px;    
}

.directory-item li{
    margin-bottom:-1px;
    background-color: none;
    border: solid 2px #e84e1c;
    border-style: dashed;
}

/* Background Colors */

.light-green{
    padding: 2%;
    margin: 0px;
    background-color: #009f9a;
    color: #ffffff;
}

.green{
    padding: 2%;
    margin: 0px;
    background-color: #006634;
    color: #ffffff;
}

.orange{
    padding: 5%;
    margin: 0px;
    background-color: #f29200;
    color: #ffffff;
}

/* Content Components  */

.img-component{
    width: 100%;
    margin: 3% 0 3% 0;
    
}

div.videos{
    margin-top: 1%;
    padding: 1%;
    background-color: #35a8df;
    color: #ffffff;
}

div.footer{
    margin-top: 1%;
}

div.logo-cauca , div.footer-info{
    padding-top: 1%;
}

div.logo-cauca{
    background-color: #ffffff;
}

div.footer-info{
    background-color: #3c3c3c;
    color: #ffffff;
    font-size: 0.8rem;
}

img.logo-cauca{
    width: 60%;
    height: 100%;
}

